"*":
  "atom-typescript": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-eslint"
    ]
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontSize: 28
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "8aae0582-4aed-2056-2f7a-dc3eb2ba8be2"
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    subtleLinterErrors: [
      "flake8"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  react: {}
  "rst-preview-pandoc":
    pandocOpts: "-fmarkdown_github -thtml --webtex"
  "tree-view": {}
  welcome:
    showOnStartup: false
