"*":
  "atom-typescript": {}
  core:
    destroyEmptyPanes: false
    disabledPackages: [
      "linter-eslint"
      "linter-flake8"
    ]
    excludeVcsIgnoredPaths: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "monokai"
    ]
  editor:
    fontFamily: "FiraCode-Light, Menlo, Consolas, DejaVu Sans Mono, monospace"
    fontSize: 40
    invisibles: {}
    showIndentGuide: true
    softWrapAtPreferredLineLength: true
    useShadowDOM: true
  "exception-reporting":
    userId: "8aae0582-4aed-2056-2f7a-dc3eb2ba8be2"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "go-plus":
    panel:
      currentHeight: "12.437095614665708vh"
  linter:
    ignoredLinterErrors: [
      "jshint"
    ]
    subtleLinterErrors: [
      "flake8"
    ]
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-ui-default":
    panelHeight: 69
  react: {}
  "rst-preview-pandoc":
    pandocOpts: "-fmarkdown_github -thtml --webtex"
  "tree-view": {}
  welcome:
    showOnStartup: false
  whitespace: {}
